#menu {
    /* background-color: #3c6e71; */
    /* color:#fff; */
    height: calc(100vh - 106px);
}

.menu-category {
    padding:20px;
    display:flex;
    flex-direction:row;
    gap:2rem;
    flex-wrap:wrap;
}


.menu-category-item-block {
    border:1px solid #000;
    border-radius:5px;
    margin:10px;
    width:320px;
    height:160px;

    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1rem;

    background-color:#fff;


    user-select:none;
    cursor:pointer;
}

.menu-item-image-div> img {
    border-radius:10px;
    margin:5px;
    height:150px;
    width:150px;
}

.item-details {
    color:#000;
    display:flex;
    flex-direction:column;
}


.set-quantity-div {
    width:100%;
    padding:5px 20px;

    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:0.5rem;
    margin:auto;
    font-weight:bold;
    font-size:2rem;
}

.set-quantity-div  p {
    text-align:center;
    user-select:none;
    width:40px;
}

.set-quantity-div i {
    cursor:pointer;
}


.item-details > .name {
    font-size:1.5rem;
    font-weight:bold;
    max-width:150px;
}

.item-details>.weight {
    font-size:1.1rem;
    max-width:150px;
}

.item-details>.price {
    font-size:1.6rem;
    font-weight:bold;
}

.modal-body > .image {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.modal-body > .image > img {
    margin:0;
}

.modal-body .infos {
    display:flex;
    flex-direction:column;
    padding: 0 30px;
    font-weight:bold;
    font-size:2rem;
}

.modal-body::-webkit-scrollbar {
    width:0px;
}

.modal-body::-moz-scrollbar {
    width:0px;
}

.modal-body::-ms-scrollbar {
    width:0px;
}

.modal-footer {
    width:100%;
}

.modal-footer.add-to-cart>button {
    width:100%;
}
