#menu-categories-bar {
    display:flex;
    flex-direction:row;
    align-items:center;
}


#input-category {
    height:40px;
    border-radius:5px;
}

#input-category-button {
    height:40px;
    margin-top:-5px;
}


#category-listing {
    /* background-color:blue; */
    max-height:calc(100vh - 240px);
    user-select:none;
}


.menu-category-block {
    background-color:rgba(211, 211, 211, 0.6);
    margin:10px;
    padding:10px;
    justify-content:space-between;
    min-width:1200px;
}

.menu-category-form-block, .menu-category-position-block{
    gap:1rem;
}

.menu-category-block, .menu-category-name-block, .menu-category-form-block, .menu-category-position-block {
    display:flex;
    flex-direction:row;
    align-items:center;
}


.menu-category-name-block>input {
    height:40px;
    border-radius: 5px 0 0 5px;
}

.menu-category-name-block>button {
    height:40px;
    border-radius:0 5px 5px 0;
}


.menu-items-block {
    display:flex;
    flex-direction:column;
}


.form-add-menu-item {
    display:flex;
    flex-direction:row;
    margin:10px;
    gap:1rem;
}

